body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
  /* overflow: hidden; */
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.slash {
  color: rgb(206, 49, 146);
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 3px;
}
.para {
  color: rgb(231, 125, 125);
  font-size: 20px;
  line-height: 1.53;
}

#mainNavbar {
  background-color: rgb(226, 81, 137);
  opacity: 0.2;
}
.nav-link,
.navbar-brand {
  color: white;
}
/* .togglerIcon {
  color: white;
} */
